.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}

.chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}